@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none !important;
}

table {
	border-radius: 2rem;
	overflow: hidden;
}
table td {
	padding: 0.8rem;
}

table tr td {
	border: 1px solid rgba(196, 196, 196, 0.35);
}
table tr:nth-child(odd) {
	background-color: rgba(221, 236, 253, 0.5);
}

.cover-letter-paragraph > html > body{
	overflow-y: hidden  !important;
}

input[type='date'] {
	display: block;
	min-width: 95%;
	height: 100%;
}

@media only screen and (min-width: 768px) {
	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
		background-color: rgba(255, 255, 255, 0.95);
	}

	::-webkit-scrollbar-thumb {
		border: 2px solid transparent;
		box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.2);
		border-radius: 20px;
	}
}

